---
import Cards from "./Cards.astro";
import Section from "./Section.astro";

import { cardsCommunity } from "@/consts/consts";
---

<Section defaultClass="on" class="space-y-4">
  <div class="space-y-2 text-center">
    <h2 class="text-4xl font-semibold lg:text-5xl">
      Nuestra<br /><span class="text-cyan-500">Comunidad</span>
    </h2>
    <p class="text-lg text-zinc-300">
      Descubre más sobre cómo funciona nuestra comunidad y todo lo que te
      ofrecemos. ✨
    </p>
  </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    {
      cardsCommunity.map(({ Icon, label, content, color }) => {
        let iconColor = "";
        switch (color) {
          case "cyan":
            iconColor = "text-cyan-500 bg-cyan-500/20 rounded-full p-2";
            break;
          case "emerald":
            iconColor = "text-emerald-500 bg-emerald-500/20 rounded-full p-2";
            break;
          case "yellow":
            iconColor = "text-yellow-500 bg-yellow-500/20 rounded-full p-2";
            break;
          case "purple":
            iconColor = "text-purple-500 bg-purple-500/20 rounded-full p-2";
            break;
          case "orange":
            iconColor = "text-orange-500 bg-orange-500/20 rounded-full p-2";
            break;
          case "teal":
            iconColor = "text-teal-500 bg-teal-500/20 rounded-full p-2";
            break;
          default:
            iconColor = "text-cyan-500";
            break;
        }
        return (
          <Cards class="flex flex-col items-center gap-y-2">
            <Icon class={`size-12 ${iconColor}`} />
            <div class="text-center">
              <h3 class="text-xl font-semibold text-transparent bg-gradient-to-l from-cyan-500 to-white to-60% bg-clip-text">
                {label}
              </h3>
              <p class="text-zinc-300">{content}</p>
            </div>
          </Cards>
        );
      })
    }
  </div>
</Section>
