---
import Section from "./Section.astro";
---

<Section
  defaultClass="off"
  class="py-10 my-40 px-4 md:px-0 space-y-4 text-center bg-gradient-to-l from-cyan-500 from-10% via-blue-500 to-purple-500/90"
>
  <h2 class="text-3xl font-bold md:text-4xl">
    🎉 ¡Forma parte de nuestra comunidad! 🎉
  </h2>
  <p
    class="md:text-lg text-white/90 drop-shadow-[0_0_10px_#00000058] max-w-5xl mx-auto my-0"
  >
    Conoce nuevas personas, comparte momentos únicos y disfruta de un espacio
    diseñado para relajarte, socializar y pasar un buen rato. ¡Estamos ansiosos
    por darte la bienvenida!
  </p>
  <span
    class="inline-flex px-4 py-2 border-2 rounded-md hover:bg-cyan-500 hover:drop-shadow-[5px_5px_0_#00000058] hover:text-primary font-bold transition cursor-pointer border-cyan-500"
    >+297k Miembros</span
  >
</Section>
