---
import Section from "./Section.astro";
---

<Section
  defaultClass="off"
  class="px-4 py-10 my-40 space-y-4 text-center md:px-0 bg-gradient-to-l from-transparent via-cyan-500/60 to-transparent"
>
  <h2 class="text-3xl font-bold md:text-4xl">
    🎉 ¡Forma parte de nuestra comunidad! 🎉
  </h2>
  <p
    class="md:text-lg text-white/90 drop-shadow-[0_0_10px_#00000058] max-w-5xl mx-auto my-0"
  >
    Conoce nuevas personas, comparte momentos únicos y disfruta de un espacio
    diseñado para relajarte, socializar y pasar un buen rato. ¡Estamos ansiosos
    por darte la bienvenida!
  </p>
  <a
    href="https://discord.com/invite/gatitos"
    target="_blank"
    class="inline-flex px-4 py-2 border-2 rounded-md hover:bg-cyan-500 hover:drop-shadow-[5px_5px_0_#00000058] hover:text-primary font-bold transition cursor-pointer border-cyan-500"
    >+296k Miembros</a
  >
</Section>
