---
import Bug from "@/icons/Bug.astro";
import Burger from "@/icons/Burger.astro";
import Logs from "@/icons/Logs.astro";
import Events from "@/icons/Events.astro";
---

<button id="activeMenu" class="absolute top-0 right-0 mt-5 cursor-pointer">
  <Burger />
</button>

<div
  id="menuBurger"
  class="absolute top-0 right-0 mt-14 bg-white text-black w-[200px]
         transform opacity-0 -translate-y-5 duration-300 ease-out rounded-sm
         pointer-events-none transition-all"
>
  <nav class="flex flex-col">
    <a
      href="https://github.com/yxsifdev/gw-homepage/issues/new"
      target="_blank"
      class="inline-flex items-center px-4 py-2 font-medium transition-colors rounded-t-sm gap-x-2 hover:text-blue-500"
    >
      <Bug /> Bugs
    </a>
    <a
      href="/updates"
      class="inline-flex items-center px-4 py-2 font-medium transition-colors gap-x-2 hover:text-red-400"
    >
      <Logs /> Actualizaciones
    </a>
    <a
      href="/events"
      class="inline-flex items-center px-4 py-2 font-medium transition-colors rounded-b-sm gap-x-2 hover:text-purple-500"
    >
      <Events /> Eventos
    </a>
  </nav>
</div>

<script is:inline>
  const activeMenu = document.getElementById("activeMenu");
  const menuBurger = document.getElementById("menuBurger");

  activeMenu?.addEventListener("click", () => {
    if (menuBurger?.classList.contains("opacity-0")) {
      menuBurger?.classList.remove(
        "opacity-0",
        "-translate-y-5",
        "pointer-events-none"
      );
      menuBurger?.classList.add(
        "opacity-100",
        "translate-y-0",
        "pointer-events-auto"
      );
    } else {
      menuBurger?.classList.remove(
        "opacity-100",
        "translate-y-0",
        "pointer-events-auto"
      );
      menuBurger?.classList.add(
        "opacity-0",
        "-translate-y-5",
        "pointer-events-none"
      );
    }
  });
</script>
